# Environment files
.env

# Log files
**/*.log
*.log
nostr_bot.log
nostr_bot_unknown.log
nostr_bot_en.log
nostr_bot_ru.log
nostr_bot_de.log
nostr_bot_fr.log
nostr_bot_es.log
nostr_bot_it.log
nostr_bot_ja.log

# Ignore JSON metrics files
metrics_*.json

# Compiled executables
nostr_bot

# Operating system files
.DS_Store
Thumbs.db

# Editor/IDE configuration
.vscode/
.idea/

# Temporary files
tmp/
